.carousel-button-back{
  opacity: 100%;
  position: absolute;
}

.carousel-control-next {
  margin-right: -30px;
}

.carousel-control-prev {
  margin-left: -30px;
}

.icon-img {
  height: 70px;
  width: 70px;
}

.orange-button {
}


.btn-grad-orange {
  background-image: linear-gradient(to bottom, #ff9800 0%, #ff5900  100%);
  color: #d44f00;
  border-width: 6px;
  border-color: #f2f5f6;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 17px;
}

.btn-grad-gray {
  background-image: linear-gradient(to bottom, #f4f4f4 0%, #dcdcdc  100%);
  color: #838383;
  border-width: 6px;
  border-color: #f2f5f6;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 17px;
}


 .btn-grad-orange:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .quote-box {
   border-style: solid;
   border-radius: 9px;
   border-color: #e3e3e3;
   border-width: 2px;
   font-family: Arial;
   color: #8c8c8c;
   padding: 70px 60px;
 }

 .shadow-pic {
  -webkit-box-shadow: 0px 30px 40px -25px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 30px 40px -25px rgba(0, 0, 0, 1);
  box-shadow: 0px 40px 50px -25px rgba(0, 0, 0, 1);
}