.carousel-button-back{
  opacity: 100%;
  position: absolute;
}

.carousel-control-next {
  margin-right: -40px;
}

.carousel-control-prev {
  margin-left: -40px;
}

.icon-img {
  height: 70px;
  width: 70px;
}